asyncpg
fastapi
uvicorn
python-dotenv
psycopg2-binary
SQLAlchemy
pytest
pytest-asyncio
pydantic-settings
greenlet
pyjwt
passlib
httpx
pydantic[email]
python-multipart
bcrypt
openai
apscheduler
mailjet_rest